<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>나라상사</title>
</head>
<div class="main_header" th:fragment="headerFragment">
    <h1>나라상사 고객관리 시스템 2021V1</h1>
</div>
<div class="main_nav" th:fragment="navFragment">
    <div>Home</div>
    <div>주문관리</div>
    <div>결제관리</div>
    <div>로그인</div>
</div>
<footer class="main_footer" th:fragment="footerFragment">
    <address>CopyRight &copy; rudgjs8080@gmail.com</address>
</footer>