<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="fragment/headerAndFooter :: headFragment"></th:block>
<body>
<th:block th:replace="fragment/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragment/headerAndFooter :: navFragment"></th:block>
<div class="main_list">
    <table class="list_table">
        <tr class="main_tr">
            <td>고객ID</td>
            <td>이름</td>
            <td>전화번호</td>
            <td>주소</td>
            <td>담당자명</td>
            <td>담당자 연락처</td>
            <td>매출액합계(만원)</td>
        </tr>
        <tr class="list_tr">
            <td>C001</td>
            <td>기성용</td>
            <td>010-1234-4567</td>
            <td>서울특별시</td>
            <td>기영옥</td>
            <td>010-2222-2222</td>
            <td>1234</td>
        </tr>
        <tr class="list_tr">
            <td>C002</td>
            <td>손흥민</td>
            <td>010-1234-4567</td>
            <td>서울특별시</td>
            <td>손차박</td>
            <td>010-2222-2222</td>
            <td>1234</td>
        </tr>
    </table>
</div>
<th:block th:replace="fragment/headerAndFooter :: footerFragment"></th:block>
</body>
</html>