<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout}"
>
<section layout:fragment="content" class="order_detail">
    <script th:inline="javascript">
        const userid = /*[[ @{SALES.userid} ]]*/ null
    </script>

    <div>
        <label >ID</label><span th:text="${SALES.userid}"></span>
        <label>상품명</label><span  th:text="${SALES.pname}"></span>
        <label>수량</label><span  th:text="${SALES.amt}"></span>
        <label>가격</label><span  th:text="${SALES.qty}"></span>
        <label>총합</label><span  th:text="${SALES.total}"></span>
    </div>
    <div>
        <button class="btn_update">고객정보 수정</button>
        <button class="btn_delete btn_warring">고객정보 삭제</button>
        <button class="btn_home">HOME 바로가기</button>
    </div>
</section>