<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>KSpring_02</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
</head>

<body>
<div class="main_header">
    <h1>나라상사 고객관리 시스템 2021V1</h1>
    <div class="main_nav">
        <div>Home</div>
        <div>주문관리</div>
        <div>결제관리</div>
        <div>로그인</div>
    </div>
</div>
<div class="main_list">
    <table class="list_table">
        <tr class="main_tr">
            <td>고객ID</td>
            <td>이름</td>
            <td>전화번호</td>
            <td>주소</td>
            <td>담당자명</td>
            <td>담당자 연락처</td>
            <td>매출액합계(만원)</td>
        </tr>
        <tr class="list_tr">
            <td>C001</td>
            <td>기성용</td>
            <td>010-1234-4567</td>
            <td>서울특별시</td>
            <td>기영옥</td>
            <td>010-2222-2222</td>
            <td>1234</td>
        </tr>
    </table>
</div>

</body>
</html>