<!DOCTYPE html>
<html lang="ko"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout}"
>

<body>
<section layout:fragment="content">
<div class="input_box">
    <input placeholder="ID를 입력해주세요">
    <input placeholder="이름을 입력해주세요">
    <input placeholder="전화번호를 입력해주세요">
    <input placeholder="주소를 입력해주세요">
    <input placeholder="담당자명을 입력해주세요">
    <input placeholder="담당자연락처를 입력해주세요">
</div>
</section>
</body>
</html>