<!DOCTYPE html>
<html lang="ko"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}"
>

<section layout:fragment="content">
    <style>
        button.btn_insert {
            margin-right:calc(20% - 16px);
            margin-top:5px;
            margin-bottom : 5px;
        }
    </style>
    <table class="order_list">
        <thead>
        <tr>
            <th>SEQ</th>
            <th>USER</th>
            <th>상품명</th>
            <th>수량</th>
            <th>금액</th>
            <th>매출합계(만원)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="order_tr" th:each="SALE : ${SALES}" th:data-id="${SALE.seq}">
            <td th:text="${SALE.seq}"></td>
            <td th:text="${SALE.userid}"></td>
            <td th:text="${SALE.pname}"></td>
            <td th:text="${SALE.qty}"></td>
            <td th:text="${SALE.amt}"></td>
            <td th:text="${SALE.total}"></td>
        </tr>
        </tbody>
    </table>
    <div class="btn_box"><button class="btn_insert">고객등록</button></div>
    <script>
    $(function(){
        $("button.btn_insert").on("click",function(){
            location.href ="/order/insert"
        })
      })
    </script>

</section>

</html>