    <html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}"
>

<section class="read_write" layout:fragment="content">
    <form method="POST" class="write_main">
        <div>
            <input class="b_num" th:field="${BOOK.isbn}" placeholder="Book Number를 입력하세요"/>
            <input class="b_name" th:field="${BOOK.title}" placeholder="책 이름을 입력하세요"/>
        </div>
        <div>
            <input class="b_date" th:field="${RBOOK.rdate}" placeholder="작성일자를 입력하세요"/>
            <input class="b_start_time" th:field="${RBOOK.stime}" placeholder="작성 시간을 입력하세요"/>
            <input class="b_end_time" th:field="${RBOOK.etime}" placeholder="작성 완료 시간을 입력하세요"/>
        </div>
        <div>
            <input class="b_title" th:field="${BOOK.isbn}" placeholder="독후감 제목을 입력하세요"/>
            <input class="b_text" placeholder="독후감 내용 입력하세요"/>
        </div>
    </form>
    <div class="btn_box">
        <button class="btn_delete">삭제</button>
        <button class="btn_save">저장</button>
        <button class="btn_list">리스트보기</button>
    </div>
</section>
</html>